
body{
    background: black;
}
#cardHolder{
   display: flex;
   flex-direction: row;
   justify-content:center
}

.card{
    display:flex;
    flex-direction: column;
    border-radius: 5em
}

.nameTitle{
    text-align:center;
}
#meaning{
    display: none;
    color:red;
    padding: 1em;
    padding:1em;
    border-bottom: 1px solid red;
}
.meaningText{
    color:red;
    border: 1px solid red;
    padding: 1em;
    border-radius: 2em;
    padding:1em;
    border-bottom: 1px solid red;
}
.rollButton{
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
    padding:1em;
    border-bottom: 1px solid red;

}
button{
    font-size:1em;
    color:red;
    background: black;
    border: 1px solid red;
    border-radius: 1em;
    padding:.75em;

}